################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/hangfire/.vs/hangfire
/hangfire/hangfire.api/obj
/hangfire/hangfire.api/bin/Debug/net6.0
