@import '../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

::ng-deep nb-icon {
  font-size: 1.5rem;
  line-height: 2;
  width: 2em !important;
  height: 2em !important;
  color:#5670a1;
  display: inline-block;
  &:hover {
      cursor: pointer;        
      ::ng-deep svg {
          fill: #36f !important;
      }
  }
}